body{text-align: center; background-image:url(../images/bg.jpg)}
.main{margin-top: 80px;}
.header{float: none;
margin: 0 auto;
}
.body{float: none;
margin: 0 auto;
}
.footer{float: none;
margin: 0 auto;
}